<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Proyecto Final Backend</title>
    <meta name="viewport" contant="width=device-width, initial-scale=1.0">
</head>

<body class="text-center">
    <h1>Proyecto Final</h1>
    <h2>Coderhouse</h2>
    <h3>Backend</h3>
    <h4>Leyci Buelvas</h4>
    <p>
        There was an error,
        id: <%= code %>
            detail: <%= message %>
    </p>
</body>

</html>